@page "/learnBlazor/bindProp"

<h3>BindProp</h3>

@code {
    Tangy_Models.LearnBlazorModels.Demo_Product product = new()
        {
            Id = 1,
            Name = "Rose Candle",
            IsActive = true
        };
}
